.App {
  margin: 0;
}
nav {
  background-color: #9b0000;
  color: white;
  padding: 20px 90px;
  display: flex;
  margin: 0 auto 60px;
  gap: 10px;
  align-items: center;
}
nav h1 {
  font-size: 2rem;
  margin-right: auto;
}
nav a {
  font-size: 1.3rem;
  color: white;  
  padding: 20px;
  text-decoration: none;
}
nav a:hover {
  transform: transform 0.10s ease-in-out;
  color: rgb(255, 208, 0);
}
nav a.active {
  color: rgb(255, 208, 0);
  text-decoration: none;
}